.image1 {
    background-image: url(/assets/welcom.jpg);
}

img {
    width: 100%;
    margin: 30px;
}

.itsa-me {
    width: 90%;
    margin: 30px;
    height: auto;
}

.img {
    width: 100%;
    margin: 30px;
}

