.image1 {
    background-image: url(/assets/welcom.jpg);
}

img {
    width: 100%;
    margin: 30px;
}

.itsa-me {
    width: 90%;
    margin: 30px;
    height: auto;
}

.img {
    width: 100%;
    margin: 30px;
}

.icon-gitHub{
    content: url('https://api.iconify.design/akar-icons/github-fill.svg?color=%23141414&width=80&height=80');
}