* {
    margin: 0px;
    text-align: center;
}

body {
    margin: 0px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

a:link {
    color: var(--color-tertiary);
}

a:visited {
    color: var(--color-quaternary);
}

a:hover {
    color: var(--color-quinary);
}

.button1 {
    border-radius: 2px;
    background-color: var(--color-tertiary);
    border: 0px;
}

a:active {
    color: var(--color-quaternary);
}

.header {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    padding: 10px;
    position: sticky;
    top: 0px;
    z-index: 99;
}

.parallax-container {
    min-height: 100vh;
    background-attachment: fixed;
    background-size: 100%;
    background-position: center;
}

.ul1 {
    gap: 20px;
    list-style-type: none;
}

.welcome {
    min-height: 100vh;
}

.w-text {
    color: black;
}

.about {
    min-height: 100vh;
}

.wb-text {
    color: var(--color-primary);
}

.projects {
    min-height: 100vh;
}

.project2 {
    min-height: 100vh;
}

h2 {
    color: var(--color-primary);
}

.project3 {
    min-height: 100vh;
}

.todolist {
    margin-top: 100px;
}

.animation {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    font-size: 60px;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    background-color: beige;
    -webkit-background-clip: text;
    animation: colorChange 4s linear infinite alternate-reverse;
}

@keyframes colorChange {
    from {background-color: var(--color-primary);}
    to {background-color: var(--color-quinary);}
}

.project4 {
    min-height: 100vh;
}

.ul2 {
    list-style-type: none;
}

h1 {
    margin: 0px;
    color: black;
}

p {
    color: var(--color-primary);
    font-size: large;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.p-text {
    color: black;
}

.h3-color {
    color: var(--color-primary);
}

.navBar {
    display: flex;
}

.navStack {
    display: flex;
    flex-direction: row;
}

.stackButton {
    display: none;
}

/*Holy shit, this fucking worked!?*/
@media (max-width: 425px) {

    body {
        width: 37rem;
    }

    .navBar {
        flex-direction: column-reverse;
    }

    .stackButton {
        display: inline;
        width: 32px;
    }
    
    .navStack {
        display: none;
    }

    .navStackHamburger {
        display: flex;
        flex-direction: column;
    }

}
